<div class="mainContainer">
  <div class="headlineContainer">ANGULAR 5 IMAGE GALLERY DEMO</div>
  <input mdInput [(ngModel)]="flexBorderSize" type="number" min="0" max="50" placeholder="Space between images">
  <input mdInput [(ngModel)]="flexImageSize" type="number" min="1" max="50" placeholder="Image size">
  <input mdInput [(ngModel)]="galleryName" placeholder="Gallery name">
  <input mdInput [(ngModel)]="containerBackgroundColor" placeholder="Background color">
  <br/><br/>
  <gallery (viewerChange)="onViewerVisibilityChanged($event)"
           [flexBorderSize]="flexBorderSize"           
           [flexImageSize]="flexImageSize"
           [galleryName]="galleryName"
           [containerBackgroundColor]="containerBackgroundColor">
  </gallery>

  <br/><br/>
  <span class="font">built with </span><a
  href="https://github.com/tharazgul/angular5-image-gallery">angular5-image-gallery</a>
</div>
